In [1]:
import numpy as np
import pandas as pd
import time

In [2]:
CITY_DATA = { 'chicago': 'workspace/chicago.csv',
              'new york city': 'workspace/new_york_city.csv',
              'washington': 'workspace/washington.csv' }

In [3]:
def get_filters():
    """
    Asks user to specify a city, month, and day to analyze.

    Returns:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    """
    print('Hello! Let\'s explore some US bikeshare data!')
    city = None
    month = None
    day = None

    city_dict = {'1': 'chicago', '2': 'new york city', '3': 'washington'}
    month_dict = {'1': 'january', '2': 'february', '3': 'march', '4': 'april', '5': 'may', '6': 'june', '0': 'all' }
    day_dict = {
        '1': 'monday', 
        '2': 'tuesday', 
        '3': 'wednesday', 
        '4': 'thursday', 
        '5': 'friday', 
        '6': 'saturday',
        '7': 'sunday',
        '0': 'all'
    }

    while True:
        print(
            "Please select a city by number:\n \
            1=Chicago; 2=New York; 3=Washington"
        )
        city_input = input("Enter your chosen city: ")

        if city_input in city_dict:
            city = city_dict[city_input]
            break
        else:
            print("You have entered an invalid option")

    while True:
        print(
            "Please select your month by number:\n \
            1=January; 2=February; 3=March; 4=April; 5=May; 6=June; 0=All"
        )
        month_input = input("Enter your month: ")

        if month_input in month_dict:
            month = month_dict[month_input]
            break
        else:
            print("You have entered an invalid option")

    while True:
        print(
            "Please select your day by number:\n \
            1=Monday; 2=Tuesday; 3=Wednesday; 4=Thursday; 5=Friday; 6=Saturday; 7=Sunday; 0=All"
        )
        day_input = input("Enter your day: ")

        if day_input in day_dict:
            day = day_dict[day_input]
            break
        else:
            print("You have entered an invalid option")

    print("You have selected the following: city={}, month={}, day={}".format(city, month, day))          
    print('-'*40)
    
    return city, month, day

In [4]:
def load_data(city, month, day):
    """
    Loads data for the specified city and filters by month and day if applicable.

    Args:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    Returns:
        df - Pandas DataFrame containing city data filtered by month and day
    """
    
    # Load data fiel into a dataframe
    df = pd.read_csv(CITY_DATA[city])
    
    # Convert the Start Time column to datatime
    df['Start Time'] = pd.to_datetime(df['Start Time'])
    
    # Convert the End Time column to datatime
    df['End Time'] = pd.to_datetime(df['End Time'])
    
    # Extract month and day of the week from Start Time to create new columns
    df['month'] = df['Start Time'].dt.month
    df['day_of_week'] = df['Start Time'].dt.weekday_name
    
    # Extract hour from from Start Time to create new column
    df['hour'] = df['Start Time'].dt.hour
    
    # Filter by month if applicable
    if month != 'all':
        # Use the index of the months list to get the corresponding int
        months = ['january', 'february', 'march', 'april', 'may', 'june']
        month = months.index(month) + 1
        
        # Filter by month to create new new dataframe
        df = df[df['month'] == month]
        
    # Filter by day of week if applicable
    if day != 'all':
        # Filter by day of week to create the new dataframe
        df = df[df['day_of_week'] == day.title()]

    return df

In [5]:
city, month, day = get_filters()

Hello! Let's explore some US bikeshare data!
Please select a city by number:
             1=Chicago; 2=New York; 3=Washington
Enter your chosen city: 1
Please select your month by number:
             1=January; 2=February; 3=March; 4=April; 5=May; 6=June; 0=All
Enter your month: 1
Please select your day by number:
             1=Monday; 2=Tuesday; 3=Wednesday; 4=Thursday; 5=Friday; 6=Saturday; 7=Sunday; 0=All
Enter your day: 2
You have selected the following: city=chicago, month=january, day=tuesday
----------------------------------------

In [6]:
df = load_data(city=city, month=month, day=day)

In [7]:
df

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,month,day_of_week,hour
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0,1,Tuesday,14
91,80745,2017-01-24 10:51:56,2017-01-24 11:12:04,1208,Streeter Dr & Grand Ave,Canal St & Monroe St (*),Subscriber,Male,1985.0,1,Tuesday,10
117,7325,2017-01-03 17:57:21,2017-01-03 18:06:04,523,Artesian Ave & Hubbard St,Damen Ave & Augusta Blvd,Subscriber,Male,1989.0,1,Tuesday,17
130,111009,2017-01-31 18:21:03,2017-01-31 18:28:25,442,Ravenswood Ave & Lawrence Ave,Lincoln Ave & Belle Plaine Ave,Subscriber,Male,1967.0,1,Tuesday,18
237,111057,2017-01-31 18:26:13,2017-01-31 18:40:10,837,Franklin St & Monroe St,McClurg Ct & Illinois St,Subscriber,Female,1988.0,1,Tuesday,18
245,23796,2017-01-10 07:41:37,2017-01-10 07:51:07,570,Michigan Ave & Washington St,Morgan St & Lake St,Subscriber,Male,1986.0,1,Tuesday,7
273,26335,2017-01-10 20:10:26,2017-01-10 20:15:12,286,Damen Ave & Pierce Ave,Ashland Ave & Division St,Subscriber,Male,1983.0,1,Tuesday,20
366,25278,2017-01-10 16:49:27,2017-01-10 16:53:48,261,Franklin St & Monroe St,Clark St & Congress Pkwy,Subscriber,Male,1968.0,1,Tuesday,16
490,83207,2017-01-24 17:58:31,2017-01-24 18:00:56,145,Wilton Ave & Belmont Ave,Broadway & Belmont Ave,Subscriber,Female,1990.0,1,Tuesday,17
534,81446,2017-01-24 14:27:46,2017-01-24 14:49:50,1324,Wacker Dr & Washington St,Noble St & Milwaukee Ave,Subscriber,Male,1965.0,1,Tuesday,14
694,25766,2017-01-10 17:50:02,2017-01-10 17:57:02,420,Peoria St & Jackson Blvd,Clinton St & Washington Blvd,Subscriber,Male,1978.0,1,Tuesday,17
754,44154,2017-01-17 08:56:13,2017-01-17 09:03:52,459,Racine Ave & 13th St,Wood St & Taylor St,Subscriber,Male,1981.0,1,Tuesday,8
788,80721,2017-01-24 10:40:27,2017-01-24 10:44:34,247,Clarendon Ave & Leland Ave,Broadway & Wilson Ave,Subscriber,Male,1969.0,1,Tuesday,10
919,80183,2017-01-24 08:48:44,2017-01-24 09:17:17,1713,Michigan Ave & Oak St,Lake Shore Dr & Monroe St,Customer,NaN,NaN,1,Tuesday,8
937,8056,2017-01-03 20:42:07,2017-01-03 20:47:37,330,California Ave & Milwaukee Ave,Campbell Ave & Fullerton Ave,Subscriber,Male,1977.0,1,Tuesday,20
1031,79750,2017-01-24 08:14:26,2017-01-24 08:21:44,438,Kingsbury St & Erie St,Clinton St & Washington Blvd,Subscriber,Male,1971.0,1,Tuesday,8
1077,43468,2017-01-17 07:42:46,2017-01-17 08:12:58,1812,Broadway & Cornelia Ave,Lake Shore Dr & Ohio St,Subscriber,Female,1979.0,1,Tuesday,7
1243,45158,2017-01-17 14:34:02,2017-01-17 14:53:18,1156,State St & Pearson St,Canal St & Adams St,Subscriber,Male,1951.0,1,Tuesday,14
1260,7076,2017-01-03 17:34:19,2017-01-03 17:40:15,356,Dearborn St & Adams St,Canal St & Madison St,Subscriber,Male,1983.0,1,Tuesday,17
1334,8104,2017-01-03 21:10:06,2017-01-03 21:18:24,498,Lake Shore Dr & Diversey Pkwy,Wilton Ave & Belmont Ave,Subscriber,Male,1969.0,1,Tuesday,21
1379,81743,2017-01-24 15:41:37,2017-01-24 15:49:10,453,Clinton St & Jackson Blvd,Kingsbury St & Kinzie St,Subscriber,Female,1984.0,1,Tuesday,15
1385,107635,2017-01-31 08:00:32,2017-01-31 08:19:58,1166,Canal St & Adams St,Dearborn St & Erie St,Subscriber,Male,1978.0,1,Tuesday,8
1399,83790,2017-01-24 19:28:29,2017-01-24 19:39:14,645,Pine Grove Ave & Waveland Ave,Southport Ave & Roscoe St,Subscriber,Male,1992.0,1,Tuesday,19
1402,80440,2017-01-24 09:17:39,2017-01-24 09:21:06,207,Wabash Ave & 16th St,Wabash Ave & Roosevelt Rd,Subscriber,Male,1965.0,1,Tuesday,9
1502,80835,2017-01-24 11:23:06,2017-01-24 11:34:50,704,Larrabee St & Kingsbury St,Peoria St & Jackson Blvd,Subscriber,Female,1964.0,1,Tuesday,11
1725,107529,2017-01-31 07:48:10,2017-01-31 07:57:57,587,Racine Ave (May St) & Fulton St,Clinton St & Jackson Blvd,Subscriber,Female,1971.0,1,Tuesday,7
1751,79811,2017-01-24 08:20:23,2017-01-24 08:26:45,382,Milwaukee Ave & Grand Ave,Green St & Randolph St,Subscriber,Male,1970.0,1,Tuesday,8
1796,82165,2017-01-24 16:38:22,2017-01-24 16:44:00,338,Mies van der Rohe Way & Chicago Ave,Rush St & Cedar St,Subscriber,Male,1991.0,1,Tuesday,16
1800,106899,2017-01-31 04:58:18,2017-01-31 05:13:24,906,Artesian Ave & Hubbard St,Wacker Dr & Washington St,Subscriber,Male,1959.0,1,Tuesday,4
1851,7649,2017-01-03 18:40:09,2017-01-03 18:45:32,323,Southport Ave & Roscoe St,Southport Ave & Irving Park Rd,Subscriber,Male,1993.0,1,Tuesday,18
...,...,...,...,...,...,...,...,...,...,...,...,...
297593,25204,2017-01-10 16:37:17,2017-01-10 16:49:59,762,Dearborn St & Erie St,Canal St & Adams St,Subscriber,Male,1971.0,1,Tuesday,16
297671,109574,2017-01-31 16:06:17,2017-01-31 16:17:28,671,Columbus Dr & Randolph St,LaSalle St & Jackson Blvd,Subscriber,Male,1982.0,1,Tuesday,16
297823,81519,2017-01-24 14:50:52,2017-01-24 14:59:21,509,Morgan St & Polk St,Blue Island Ave & 18th St,Subscriber,Female,1992.0,1,Tuesday,14
297853,107032,2017-01-31 06:23:01,2017-01-31 06:26:02,181,Racine Ave & Wrightwood Ave,Sheffield Ave & Fullerton Ave,Subscriber,Male,1967.0,1,Tuesday,6
297855,6563,2017-01-03 16:55:58,2017-01-03 17:01:05,307,Ashland Ave & Chicago Ave,Damen Ave & Division St,Subscriber,Male,1988.0,1,Tuesday,16
297896,44500,2017-01-17 10:37:07,2017-01-17 10:47:23,616,Sheffield Ave & Waveland Ave,Sheffield Ave & Fullerton Ave,Subscriber,Male,1969.0,1,Tuesday,10
297957,43032,2017-01-17 06:20:54,2017-01-17 06:26:08,314,Clark St & Congress Pkwy,State St & Kinzie St,Subscriber,Male,1975.0,1,Tuesday,6
298084,45928,2017-01-17 16:57:23,2017-01-17 17:00:59,216,Halsted St & Polk St,Halsted St & Maxwell St,Subscriber,Male,1997.0,1,Tuesday,16
298330,44249,2017-01-17 09:09:38,2017-01-17 09:18:05,507,Wells St & Concord Ln,Wells St & Huron St,Subscriber,Female,1984.0,1,Tuesday,9
298389,24890,2017-01-10 14:27:57,2017-01-10 14:41:37,820,Wood St & Taylor St,Clinton St & Jackson Blvd,Subscriber,Female,1968.0,1,Tuesday,14
298474,80188,2017-01-24 08:49:19,2017-01-24 09:02:20,781,Clybourn Ave & Division St,Wacker Dr & Washington St,Subscriber,Male,1986.0,1,Tuesday,8
298494,108348,2017-01-31 09:27:08,2017-01-31 09:37:15,607,Greenwood Ave & 47th St,Ellis Ave & 58th St,Subscriber,Male,1981.0,1,Tuesday,9
298499,7556,2017-01-03 18:26:12,2017-01-03 18:36:23,611,Wabash Ave & Grand Ave,Clinton St & Washington Blvd,Subscriber,Male,1976.0,1,Tuesday,18
298518,110508,2017-01-31 17:31:31,2017-01-31 17:39:04,453,Michigan Ave & Lake St,Clinton St & Washington Blvd,Subscriber,Male,1976.0,1,Tuesday,17
298532,84352,2017-01-24 23:53:45,2017-01-25 00:06:02,737,Ellis Ave & 58th St,Greenwood Ave & 47th St,Subscriber,Male,1967.0,1,Tuesday,23
298613,111013,2017-01-31 18:21:21,2017-01-31 18:29:25,484,Canal St & Monroe St (*),Franklin St & Chicago Ave,Subscriber,Male,1972.0,1,Tuesday,18
298871,108746,2017-01-31 11:59:32,2017-01-31 12:06:10,398,Clinton St & Lake St,Clinton St & Jackson Blvd,Subscriber,Male,1983.0,1,Tuesday,11
298927,110850,2017-01-31 18:02:02,2017-01-31 18:08:58,416,Clark St & Randolph St,Columbus Dr & Randolph St,Subscriber,Female,1965.0,1,Tuesday,18
299116,79618,2017-01-24 08:03:48,2017-01-24 08:06:30,162,Sheffield Ave & Willow St,Bissell St & Armitage Ave,Subscriber,Female,1989.0,1,Tuesday,8
299119,24566,2017-01-10 11:17:25,2017-01-10 11:25:29,484,Franklin St & Lake St,Canal St & Adams St,Subscriber,Male,1987.0,1,Tuesday,11
299248,5324,2017-01-03 10:47:05,2017-01-03 10:55:01,476,Damen Ave & Augusta Blvd,Damen Ave & Madison St,Subscriber,Male,1984.0,1,Tuesday,10
299372,5848,2017-01-03 14:43:35,2017-01-03 14:58:11,876,Clark St & North Ave,McClurg Ct & Illinois St,Subscriber,Male,1965.0,1,Tuesday,14
299443,81424,2017-01-24 14:18:31,2017-01-24 14:25:31,420,Larrabee St & Kingsbury St,Clinton St & Washington Blvd,Subscriber,Male,1960.0,1,Tuesday,14
299466,82110,2017-01-24 16:32:09,2017-01-24 16:39:51,462,Wells St & Walton St,St. Clair St & Erie St,Subscriber,Female,1985.0,1,Tuesday,16
299535,6783,2017-01-03 17:11:18,2017-01-03 17:14:18,180,Kingsbury St & Kinzie St,Clinton St & Washington Blvd,Subscriber,Male,1969.0,1,Tuesday,17
299603,80060,2017-01-24 08:38:09,2017-01-24 08:54:59,1010,Morgan Ave & 14th Pl,Dearborn St & Monroe St,Subscriber,Female,1983.0,1,Tuesday,8
299738,43287,2017-01-17 07:20:40,2017-01-17 07:25:29,289,Canal St & Madison St,Desplaines St & Kinzie St,Subscriber,Male,1985.0,1,Tuesday,7
299920,25427,2017-01-10 17:08:28,2017-01-10 17:24:28,960,Clinton St & Jackson Blvd,Damen Ave & Madison St,Subscriber,Male,1988.0,1,Tuesday,17
299958,108699,2017-01-31 11:44:34,2017-01-31 11:52:17,463,Indiana Ave & Roosevelt Rd,Michigan Ave & Madison St,Subscriber,Female,1966.0,1,Tuesday,11
299972,44015,2017-01-17 08:42:37,2017-01-17 08:53:20,643,Racine Ave & Wrightwood Ave,Clark St & Wellington Ave,Subscriber,Female,1978.0,1,Tuesday,8

In [8]:
def time_stats(df):
    """Displays statistics on the most frequent times of travel."""

    print('\nCalculating The Most Frequent Times of Travel...\n')
    start_time = time.time()

    # TO DO: display the most common month
    popular_month = df['month'].mode()[0]
    print("Most common month:", popular_month)

    # TO DO: display the most common day of week
    popular_day = df['day_of_week'].mode()[0]
    print("Most common day of the week:", popular_day)

    # TO DO: display the most common start hour
    popular_hour = df['hour'].mode()[0]
    print("Most common hour:", popular_hour)
    
    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

In [9]:
time_stats(df)

Calculating The Most Frequent Times of Travel...

Most common month: 1
Most common day of the week: Tuesday
Most common hour: 17

This took 0.0048940181732177734 seconds.
----------------------------------------

In [10]:
def station_stats(df):
    """Displays statistics on the most popular stations and trip."""

    print('\nCalculating The Most Popular Stations and Trip...\n')
    start_time = time.time()

    # TO DO: display most commonly used start station
    popular_start_station = df['Start Station'].mode()[0]
    print("Most common start station: {}".format(popular_start_station))

    # TO DO: display most commonly used end station
    popular_end_station = df['End Station'].mode()[0]
    print("Most common end station: {}".format(popular_end_station))

    # TO DO: display most frequent combination of start station and end station trip
    popular_start_end_station = df[['Start Station', 'End Station']].mode().loc[0]
    print("Most frequent combination of start station and end station trip: \n{}".format(popular_start_end_station))

    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

In [11]:
station_stats(df)

Calculating The Most Popular Stations and Trip...

Most common start station: Clinton St & Washington Blvd
Most common end station: Clinton St & Washington Blvd
Most frequent combination of start station and end station trip:
Start Station    Clinton St & Washington Blvd
End Station      Clinton St & Washington Blvd
Name: 0, dtype: object

This took 0.009011030197143555 seconds.
----------------------------------------

In [12]:

def trip_duration_stats(df):
    """Displays statistics on the total and average trip duration."""

    print('\nCalculating Trip Duration...\n')
    start_time = time.time()

    # TO DO: display total travel time
    total_travel_time = df['Trip Duration'].sum()
    print(f"Total tavel time: {total_travel_time}")

    # TO DO: display mean travel time
    avg_travel_time = df['Trip Duration'].mean()
    print(f"Average travel time: {avg_travel_time}")


    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

In [13]:
trip_duration_stats(df)

Calculating Trip Duration...

Total tavel time: 2701700
Average travel time: 596.79699580296

This took 0.0012447834014892578 seconds.
----------------------------------------

In [14]:

def user_stats(df):
    """Displays statistics on bikeshare users."""

    try:
        print('\nCalculating User Stats...\n')
        start_time = time.time()

        # TO DO: Display counts of user types
        user_type_counts = df['User Type'].value_counts()

        print("User type counts:\n{}".format(user_type_counts))
        print("\n")

        # TO DO: Display counts of gender
        gender_counts = df['Gender'].value_counts()

        print("Gender counts:\n{}".format(gender_counts))
        print("\n")

        # TO DO: Display earliest, most recent, and most common year of birth
        earliest_birth = df['Birth Year'].min()
        print(f"Earliest birth on record is: {earliest_birth}")

        popular_birth_year = df['Birth Year'].mode()[0]
        print(f"Most common birth year is: {popular_birth_year}")

        recent_birth = df['Birth Year'].max()
        print(f"Most recent birth on record is: {recent_birth}")
        
    except KeyError:
        print("Columns 'Gender' and 'Birth Year' do not exist for Wahsington city.")
        
    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

In [15]:
user_stats(df)

Calculating User Stats...

User type counts:
Subscriber    4467
Customer        60
Name: User Type, dtype: int64


Gender counts:
Male      3633
Female     832
Name: Gender, dtype: int64


Earliest birth on record is: 1899.0
Most common birth year is: 1989.0
Most recent birth on record is: 1999.0

This took 0.005365848541259766 seconds.
----------------------------------------

In [16]:
def display_raw_data(df):
    """Prompts the user to display data 5 rows at time"""
    
    print('\nCalculating Display of Raw Data...\n')
    start_time = time.time()
    
    user_input = None       
        
    for i in range(0, (df.shape[0]), 5):
        user_input = input("\nWould you like to view 5 rows or the next 5 rows of the dataframe? Enter yes or no.\n")
        
        if user_input == 'yes':
            print(f"\nDisplaying {i} to {i+5} rows of the dataframe")
            print(df[i:i+5])
        else:
            print('Thank you! Have a nice day!')
            break
    
    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

In [17]:
display_raw_data(df)

Calculating Display of Raw Data...


Would you like to view 5 rows or the next 5 rows of the dataframe? Enter yes or no.
y
Thank you! Have a nice day!

This took 3.9769041538238525 seconds.
----------------------------------------

In [18]:
def main():
    while True:
        city, month, day = get_filters()
        df = load_data(city, month, day)

        time_stats(df)
        station_stats(df)
        trip_duration_stats(df)
        user_stats(df)
        display_raw_data(df)

        restart = input('\nWould you like to restart? Enter yes or no.\n')
        if restart.lower() != 'yes':
            break


if __name__ == "__main__":
    main()

Hello! Let's explore some US bikeshare data!
Please select a city by number:
             1=Chicago; 2=New York; 3=Washington
Enter your chosen city: 3
Please select your month by number:
             1=January; 2=February; 3=March; 4=April; 5=May; 6=June; 0=All
Enter your month: 0
Please select your day by number:
             1=Monday; 2=Tuesday; 3=Wednesday; 4=Thursday; 5=Friday; 6=Saturday; 7=Sunday; 0=All
Enter your day: 0
You have selected the following: city=washington, month=all, day=all
----------------------------------------

Calculating The Most Frequent Times of Travel...

Most common month: 6
Most common day of the week: Wednesday
Most common hour: 8

This took 0.02575993537902832 seconds.
----------------------------------------

Calculating The Most Popular Stations and Trip...

Most common start station: Columbus Circle / Union Station
Most common end station: Columbus Circle / Union Station
Most frequent combination of start station and end station trip:
Start Station    Columbus Circle / Union Station
End Station      Columbus Circle / Union Station
Name: 0, dtype: object

This took 0.14134907722473145 seconds.
----------------------------------------

Calculating Trip Duration...

Total tavel time: 371183985.484
Average travel time: 1237.2799516133334

This took 0.0024750232696533203 seconds.
----------------------------------------

Calculating User Stats...

User type counts:
Subscriber    220786
Customer       79214
Name: User Type, dtype: int64


Columns 'Gender' and 'Birth Year' do not exist for Wahsington city.

This took 0.020931720733642578 seconds.
----------------------------------------

Calculating Display of Raw Data...


Would you like to view 5 rows or the next 5 rows of the dataframe? Enter yes or no.
yes

Displaying 0 to 5 rows of the dataframe
   Unnamed: 0          Start Time            End Time  Trip Duration  \
0     1621326 2017-06-21 08:36:34 2017-06-21 08:44:43        489.066
1      482740 2017-03-11 10:40:00 2017-03-11 10:46:00        402.549
2     1330037 2017-05-30 01:02:59 2017-05-30 01:13:37        637.251
3      665458 2017-04-02 07:48:35 2017-04-02 08:19:03       1827.341
4     1481135 2017-06-10 08:36:28 2017-06-10 09:02:17       1549.427

                                 Start Station                   End Station  \
0                         14th & Belmont St NW                15th & K St NW
1                   Yuma St & Tenley Circle NW  Connecticut Ave & Yuma St NW
2               17th St & Massachusetts Ave NW                 5th & K St NW
3             Constitution Ave & 2nd St NW/DOL    M St & Pennsylvania Ave NW
4  Henry Bacon Dr & Lincoln Memorial Circle NW         Maine Ave & 7th St SW

    User Type  month day_of_week  hour
0  Subscriber      6   Wednesday     8
1  Subscriber      3    Saturday    10
2  Subscriber      5     Tuesday     1
3    Customer      4      Sunday     7
4  Subscriber      6    Saturday     8

Would you like to view 5 rows or the next 5 rows of the dataframe? Enter yes or no.
yes

Displaying 5 to 10 rows of the dataframe
   Unnamed: 0          Start Time            End Time  Trip Duration  \
5     1148202 2017-05-14 07:18:18 2017-05-14 07:24:56        398.000
6     1594275 2017-06-19 08:41:43 2017-06-19 09:00:08       1105.429
7     1601832 2017-06-20 05:54:42 2017-06-20 06:05:18        636.218
8      574182 2017-03-24 20:37:00 2017-03-24 20:42:00        328.530
9      327058 2017-02-20 21:12:00 2017-02-20 21:31:00       1188.090

             Start Station                                        End Station  \
5            1st & K St SE  Eastern Market Metro / Pennsylvania Ave & 7th ...
6  Park Rd & Holmead Pl NW                                      8th & H St NW
7            1st & D St SE                      Potomac & Pennsylvania Ave SE
8           18th & R St NW                                     15th & P St NW
9    17th & Corcoran St NW                               Lynn & 19th St North

    User Type  month day_of_week  hour
5  Subscriber      5      Sunday     7
6  Subscriber      6      Monday     8
7  Subscriber      6     Tuesday     5
8  Subscriber      3      Friday    20
9  Subscriber      2      Monday    21

Would you like to view 5 rows or the next 5 rows of the dataframe? Enter yes or no.
n
Thank you! Have a nice day!

This took 16.777462005615234 seconds.
----------------------------------------

Would you like to restart? Enter yes or no.
n