In [1]:
class Student:
    def __init__(self, name, fives, tens, twenties):
        self.name = name
        self.fives = fives
        self.tens = tens
        self.twenties = twenties

In [2]:
phil = Student("Phil", 2, 2, 1)
cam = Student("Cameron", 2, 2, 0)
geoff = Student("Geoff", 0, 3, 0)

In [3]:
phil.twenties

1

In [4]:
students = [cam, geoff, phil]

In [5]:
my_dict = {}
my_tuple = []

for i in students:
    my_list = []
    print(i.name)
    print(i.fives)
    print(i.tens)
    print(i.twenties)
    my_list.append(i.fives * 5)
    my_list.append(i.tens * 10)
    my_list.append(i.twenties * 20)
    print(sum(my_list))
    my_dict[i.name] = sum(my_list)
    my_tuple.append((i.name, sum(my_list)))

Cameron
2
2
0
30
Geoff
0
3
0
30
Phil
2
2
1
50

In [6]:
my_dict

{'Cameron': 30, 'Geoff': 30, 'Phil': 50}

In [7]:
my_tuple

[('Cameron', 30), ('Geoff', 30), ('Phil', 50)]

In [8]:
max(my_tuple)
print(max(my_tuple)[0])

Phil

In [9]:
my_tuple2 = [('Cameron', 30), ('Geoff', 30), ('Phil', 50)]

In [10]:
my_max = max(my_tuple2)[1]

In [11]:
my_max

50

In [12]:
def most_money(students):
    
    if len(students) > 1:
        my_dict = {}
        my_tuple = []

        for i in students:
            my_list = []
            print(i.name)
            print(i.fives)
            print(i.tens)
            print(i.twenties)
            my_list.append(i.fives * 5)
            my_list.append(i.tens * 10)
            my_list.append(i.twenties * 20)
            print(sum(my_list))
            my_dict[i.name] = sum(my_list)
            my_tuple.append((i.name, sum(my_list)))

        test_list = []

        for i, j in my_tuple:
            test_list.append(j)
            
        max_in_list = test_list.index(max(test_list))
        
        if test_list.count(max(test_list)) > 1:
            return 'all'
        else:
            return my_tuple[max_in_list][0]
        
    else:
        return students[0].name

In [13]:
most_money([cam, geoff, phil])

Cameron
2
2
0
30
Geoff
0
3
0
30
Phil
2
2
1
50

'Phil'

In [14]:
most_money([cam, geoff])

Cameron
2
2
0
30
Geoff
0
3
0
30

'all'

In [15]:
most_money([geoff])

'Geoff'

In [16]:
geoff = Student("Geoff", 0, 3, 0)

In [17]:
students = [geoff]

In [18]:
students[0].name

'Geoff'

In [19]:
andy = Student('Andy', 0,0,2)
stephen = Student('Stephen', 0,4,0)
eric = Student('Eric', 8,1,0)
david = Student('David', 2,0,1)
phil = Student('Phil', 0,2,1)

In [20]:
most_money([andy, stephen, eric, david, phil])

Andy
0
0
2
40
Stephen
0
4
0
40
Eric
8
1
0
50
David
2
0
1
30
Phil
0
2
1
40

'Eric'

In [21]:
my_tuple3 = [('Andy', 40), ('Stephen', 40), ('David', 30), ('Phil', 40)]

In [22]:
test_list = []

for i, j in my_tuple3:
    test_list.append(j)

In [23]:
max_in_list = test_list.index(max(test_list))

In [24]:
my_tuple3[2][0]

'David'

In [25]:
my_tuple3[max_in_list][0]

'Andy'

In [26]:
test_list.count(40)

3